# see https://doc.nette.org/en/configuring

parameters:

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	# Common
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

	# DBAL
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension

	# ORM
	nettrine.orm: Nettrine\ORM\DI\OrmExtension

application:
	mapping: App\Presentation\Presenter\*\**Presenter

nettrine.dbal:
	connections:
		default:
			driver: mysqli
			host: %env.DB_HOST%
			port: int(%env.DB_PORT%)
			user: %env.DB_USER%
			password: %env.DB_PASSWORD%
			dbname: %env.DB_NAME%
			charset: utf8
			serverVersion: 10.11.6-MariaDB

nettrine.orm:
	managers:
		default:
			defaultCache: Symfony\Component\Cache\Adapter\FilesystemAdapter(namespace: orm, defaultLifetime: 0, directory: %tempDir%/cache/doctrine/orm)
			connection: default
			mapping:
				App:
					directories: [%appDir%/Domain/Entity]
					namespace: App\Domain\Entity

nettrine.migrations:
	directories:
		DoctrineMigrations: %rootDir%/migrations

nettrine.fixtures:
  paths:
    - %rootDir%/fixtures

di:
	export:
		parameters: no
		tags: no

tracy:
    logSeverity: E_ALL
    showBar: true
