services:
	- App\Application\Routing\RouterFactory::createRouter
	- DataFixtures\ContactFixture

	graphQLSchema:
		factory: GraphQL\Type\Schema
		arguments:
			config:
				query: @App\Infrastructure\GraphQL\Contact\ContactQuery
				mutation: @App\Infrastructure\GraphQL\Contact\ContactMutation


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *UseCase
			- *Type
			- *Query
			- *Mutation
			- *Resolver
