<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GraphiQL</title>
    <meta name="robots" content="noindex" />
    <style>
        html, body, #graphiql {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/graphiql@2.3.0/graphiql.min.css" rel="stylesheet" />
</head>
<body>
<div id="graphiql">Loading...</div>

<script src="https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/graphiql@2.3.0/graphiql.min.js"></script>

<script>
    const fetcher = GraphiQL.createFetcher({
        url: '/api/v1/',
    });

    ReactDOM.render(
        React.createElement(GraphiQL, { fetcher }),
        document.getElementById('graphiql')
    );
</script>
</body>
</html>